* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  background-color:  #0d0810 ;
  
}

#backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index:1;
  
}
#backgroundVideo.fade-out {
  opacity: 0;
  transition: opacity 2s ease; /* 2 Sekunden Übergang */
}

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;
  position: relative;
  padding: 0 1rem;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Vergrößern der Schrift */
  }
}

h1 {
  font-size: 3rem; /* Anpassung der Schriftgröße je nach Bedarf */
  font-weight: 700;
  animation: pulse 6s infinite ease-in-out; /* 2 Sekunden Takt, unendlich wiederholen */
}
.hero h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 3rem;
}

.hero p {
  font-size: 2rem;
  color: #bfbbbb;
  margin-bottom: 2rem;
  max-width: 600px;
}

.hero .button-group {
  display: flex;
  gap: 1rem;
}

.hero .button-group a {
  padding: 1.2rem 2rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.hero .button-group .solid {
  background-color: #a6a3a3;
  color: #ffffff;
  
}

.hero .button-group .solid:hover{
  background-color: #dd487c;
  color: #ffffff;
  
}


.hero .button-group .outline {
  border: 2px solid #a6a3a3;
  color: #ffffff;
  background-color: transparent;
}

.hero .button-group .outline:hover {
  background-color: #dd487c;
  color: #fff;
}

#startOverlay {
  position: fixed;
  z-index: 9999;
  background: #000;
  color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#startOverlay .overlay-content {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
