* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    
}


header {
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
    color: rgb(168, 101, 168);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 255, 255, 0);

}

.hero {
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b753e6;

}


/* Start Button */
#startButton {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: rgb(144, 42, 128);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

#startButton:hover {
    background-color: #b753e6;
    color: aliceblue;
}


#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    
}

@keyframes startButton {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .pulsing {
    animation: startButton 2s infinite;
  }